*.jar
*.zip
.idea/
*.tgz
build/
target/
secure-api-gateway-core-docker/7.3.0/ig/config/
secure-api-gateway-core-docker/7.3.0/ig/lib/
secure-api-gateway-core-docker/7.3.0/ig/scripts/
secure-api-gateway-core-docker/7.3.0/ig/audit-schemas/
pom.xml.versionsBackup
